header {
    position: relative;
    height: 5rem;
    border-bottom: 1px solid #999;
    background-color: #FFFFFF;
    z-index: 99;
}

header.fixed  {
    position: fixed;
    left: 0;
    right: 0;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    top: 0;
    z-index: 99;
}


@media screen and (max-width: 768px) {
    header.fixed  {
        width: inherit;
    }
    header {
        padding: 0 2rem;
    }
}