nav {
    text-align: center;
    position: relative;
    top: -5rem;
    text-transform: uppercase;
    color: #999999;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav li {
    display: inline;
    list-style: none;
    padding: 0 1rem;
}

nav input {
    display: none;
}

#menu-toggle {
    line-height: 5rem;
}


@media screen and (max-width: 768px) {
    nav {
        text-align: left;
        color: #111111;
    }
    nav ul {
        padding: 1rem;
        background: #fafafa;
    }
    nav li {
        padding: .4rem 1rem;
        display: block;
    }
}