.card {
    background-color: #F8E627;
    margin-bottom: 1rem;
    border-radius: 10px;
    position: relative;
    font-weight: bold;
    max-width: 270px;
    margin: 0 auto 3rem;
    padding: 5rem 2rem;
    overflow: hidden;
    box-shadow: 0px 0px 10px #AAAAAA;
    min-height: 280px;
}

.card__number {
    font-size: 240px;
    position: absolute;
    top: 0;
    left: -50px;
    line-height: 150px;
    opacity: .1;
}

.card__title {
    padding: 3rem 0;
    font-size: 230%;
    font-weight: bold;
    margin-bottom: 1rem;
}

.card__subtitle {
    padding: 1rem 0;
}



.card__popup--hide {
    display: none;
}

.card__popup--show {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: grey;
    z-index: 99999;
    overflow: hidden;
}

.card__popup--show > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    height: 30rem;
    border-radius: 15px;
}

.card__popup--show .top {
    width: 80%;
    display: flex;
    align-items: center;
    height: 15rem;
}


.card__popup--show .bottom {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    overflow: hidden;
    border-radius: 15px;
}


.card__popup--show img {
    height: 50%;
    border-radius: 10px;
    padding: 0 1rem;
    transform: translateX(70px);
}




@media screen and (max-width: 1024px) {
    .card {
        max-width: 210px;
        padding: 3rem 1rem;
    }
}


@media screen and (max-width: 768px) {
    .card {
        max-width: inherit;
    }
}
