.article__gallery {
  display: flex;
}

.article__gallery div.small {
  width: 50%;
}
.article__gallery div.big {
  width: 100%;
}

.article__gallery img { 
  display: block;
  width: 100%;
  border: 5px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 10px;
}


@media screen and (max-width: 768px) {
  .article__gallery {
    flex-direction: column;
    
  }
  .article__gallery div.small { 
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}