.button {
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid black;
    padding: 1rem;
    text-align: center;
    display: block;
    border-radius: 5px;
    color: black;
}
