.article__gallery {
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.article__gallery img {
  border-radius: 10px;
}

.article__gallery img{ 
  width: 100%;
}

.article__gallery div.small {
  width: 16%;
}

.article__gallery div.big{
  width: 32%;
}