article, .shadow {
    background: white;
    margin: 0 5rem;
    top: 460px;
    padding: 2rem 8rem;
    border-radius: 10px;
}

article {  
    position: relative;   
    z-index: 99;
}

.shadow {  
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    transition: margin 1s ease-out;
}
.shadow.expanded {
    margin: 0;
}


@media screen and (max-width: 1024px) {
    article {
        margin: 0 2rem;
        padding: 2rem 2rem;        
    }
}


@media screen and (max-width: 768px) {
    article {
        top: 460px;
        padding: 2rem 2rem;
    }
    .shadow {
        margin: 0 2rem;
    }
}


@media screen and (max-width: 360px) {
    article {
        margin: 0 1rem;
    }
  }