
aside {
    /*width: 35%;*/
    position: absolute;
    top: 360px;
    /*padding: 0 2rem;*/
    right: 0;
    padding-right: 11rem;
    z-index: 99;
}

@media screen and (max-width: 768px) {
    aside {
        width: initial;
        top: 0;
    }
}