article {
    background: white;
    margin: 0 5rem;
    position: relative;
    top: 460px;
    border-radius: 10px;
    padding: 2rem 6rem;
    z-index: 99;
    /*display: flex;
    justify-content: space-evenly;*/
}

.shadow {
    /*background: white;
    margin: 0 5rem;
    position: relative;
    top: -371px;
    padding: 2rem 6rem;
    height: 271px;*/

    background: white;
    margin: 0 5rem;
    position: absolute;
    top: 460px;
    border-radius: 10px;
    padding: 2rem 6rem;
    left: 0;
    right: 0;
    height: 100%;
    transition: margin 1s ease-out;
}
.shadow.expanded {
    margin: 0;
}


@media screen and (max-width: 1024px) {
    article {
        margin: 0 2rem;
        padding: 2rem 2rem;        
    }
}



@media screen and (max-width: 768px) {
    article {
        margin: 0 2rem;
        display: block;
        top: 460px;
        padding: 2rem 2rem;
    }

    .shadow {
        /*display: none;*/
        margin: 0 2rem;
    }
}


@media screen and (max-width: 360px) {
    article {
        margin: 0 1rem;
    }
  }