
aside {
    position: absolute;
    top: 380px;
    right: 0;
    padding-right: 13rem;
    z-index: 99;
}


@media screen and (max-width: 1024px) {
    aside {
        padding-right: 5rem;
    }
}

@media screen and (max-width: 768px) {
    aside {
        position: relative;
        width: initial;
        top: 420px;
        padding: 0 3rem;
    }
}