html {
  font-size: 12px; 
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #111111;
}

p {
  letter-spacing: .03rem;
  text-shadow: 0 0 1px transparent;
}

body {
  margin: 0;
}

#root {
  margin: 0 auto;
  max-width: 1280px;
}
